<div fxLayout="row" fxLayoutAlign="center" class="login-card">
    <mat-card class="example-card">
      <mat-toolbar class="title">
        Login
      </mat-toolbar>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <mat-icon>
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </mat-icon>
          <mat-form-field class="example">
            <mat-label>Email</mat-label>
            <input matInput type="text" [formControl]="loginUserData.email" placeholder="Email" required>
            <mat-error *ngIf="loginUserData.email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <mat-icon>
            <span class="material-icons">vpn_key</span>
          </mat-icon>
          <mat-form-field class="example">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="loginUserData.password" placeholder="Password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginUserData.password.invalid">{{getError()}}</mat-error>
          </mat-form-field>
        </div>
        <p style="cursor: pointer;outline:none">New to EMS?<a href="" routerLink="/register">Create an account</a></p>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" style="margin-bottom: 5px;">
        <button mat-raised-button (click)="loginUser()" [disabled]="loginUserData.password.invalid || loginUserData.email.invalid" class="example-button">Login</button>
      </div>
    </mat-card>
  </div>