.example-card {
    width: 600px;
    padding: 0;
    margin: 0;
}

.example{
    width: 250px;
    margin-top: 10px;
}

.login-card{
    margin: 25px;
}

.title{
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: #0f346c;
    letter-spacing: 0.1em;
    background-color: rgb(241, 156, 28);
    justify-content: center;
    text-transform: uppercase;
}